[submodule "straight/repos/cmake"]
	path = straight/repos/cmake
	url = https://gitlab.kitware.com/cmake/cmake.git
[submodule "straight/repos/smooth-scrolling"]
	path = straight/repos/smooth-scrolling
	url = https://github.com/aspiers/smooth-scrolling.git
[submodule "straight/repos/yankpad"]
	path = straight/repos/yankpad
	url = https://github.com/Kungsgeten/yankpad.git
[submodule "straight/repos/treepy.el"]
	path = straight/repos/treepy.el
	url = https://github.com/volrath/treepy.el.git
[submodule "straight/repos/smart-tab"]
	path = straight/repos/smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule "straight/repos/shut-up"]
	path = straight/repos/shut-up
	url = https://github.com/cask/shut-up.git
[submodule "straight/repos/rotate-text.el"]
	path = straight/repos/rotate-text.el
	url = https://github.com/nschum/rotate-text.el.git
[submodule "straight/repos/refs.el"]
	path = straight/repos/refs.el
	url = https://github.com/Wilfred/refs.el.git
[submodule "straight/repos/powerline"]
	path = straight/repos/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "straight/repos/popwin-el"]
	path = straight/repos/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "straight/repos/nord-emacs"]
	path = straight/repos/nord-emacs
	url = https://github.com/arcticicestudio/nord-emacs.git
[submodule "straight/repos/magit-popup"]
	path = straight/repos/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "straight/repos/helm-projectile"]
	path = straight/repos/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "straight/repos/helm-org-rifle"]
	path = straight/repos/helm-org-rifle
	url = https://github.com/alphapapa/helm-org-rifle.git
[submodule "straight/repos/helm-describe-modes"]
	path = straight/repos/helm-describe-modes
	url = https://github.com/emacs-helm/helm-describe-modes.git
[submodule "straight/repos/helm-descbinds"]
	path = straight/repos/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds.git
[submodule "straight/repos/graphql"]
	path = straight/repos/graphql
	url = https://github.com/emacsmirror/graphql.git
[submodule "straight/repos/golden-ratio.el"]
	path = straight/repos/golden-ratio.el
	url = https://github.com/roman/golden-ratio.el.git
[submodule "straight/repos/ghub"]
	path = straight/repos/ghub
	url = https://github.com/magit/ghub.git
[submodule "straight/repos/flycheck-inline"]
	path = straight/repos/flycheck-inline
	url = https://github.com/flycheck/flycheck-inline.git
[submodule "straight/repos/evil-numbers"]
	path = straight/repos/evil-numbers
	url = https://github.com/cofi/evil-numbers.git
[submodule "straight/repos/evil-fringe-mark"]
	path = straight/repos/evil-fringe-mark
	url = https://github.com/Andrew-William-Smith/evil-fringe-mark.git
[submodule "straight/repos/emacs-noflet"]
	path = straight/repos/emacs-noflet
	url = https://github.com/nicferrier/emacs-noflet.git
[submodule "straight/repos/emacs-helm-ag"]
	path = straight/repos/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "straight/repos/elfeed-goodies"]
	path = straight/repos/elfeed-goodies
	url = https://github.com/algernon/elfeed-goodies.git
[submodule "straight/repos/ddskk"]
	path = straight/repos/ddskk
	url = https://github.com/skk-dev/ddskk.git
[submodule "straight/repos/darkroom"]
	path = straight/repos/darkroom
	url = https://github.com/joaotavora/darkroom.git
[submodule "straight/repos/cl-generic"]
	path = straight/repos/cl-generic
	url = https://github.com/emacs-straight/cl-generic.git
[submodule "straight/repos/ace-jump-mode"]
	path = straight/repos/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
